/* navbar 全体の背景色とボーダーカラー */

.navbar-custom {
    /*background-color: #337ab7;*/
    color:#fff;
    border-radius:0;
    border-color: white;
}
/*-----------------------------<navbar>---------------------------------------------*/
 
 .row div {
      /*border: 1px solid #000;*/
      /*padding: 1em;*/
      text-align: center;
      background-color: #dedede;
    }
  .mainlogo div{
    height: 400px;
    width: 100%;
    /*background: url("/images/toppages-logo.jpg") center center no-repeat;*/
    background: url("toppage_mainlogo.jpg") center center no-repeat;
    opacity: 0.4;
    margin-bottom: 100px;
  }
  
  .mainlogo{
  /*margin-bottom: 20px;*/
}

  

/*//------------------------------------< こっから下パクリ >--------------------------------*/




.production img{
/*  height: 100%;*/
  max-width: 100%;
background-size: contain;
background-position: top center;
background-repeat: no-repeat;
}

p.production_title {
  /* 文の行数を2行に保ち、最後に ... を追加するスタイル */
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}  


/*テスト--------------------------------------------------------------------------*/

/*.card{*/
/*        width: 300px;*/
/*        margin: 20px;*/
/*        border-radius: 5px;*/
/*        background-color: #fff;*/
/*        box-shadow: 0 3px 6px #ccc;*/
/*    }*/
    .image {
        width: 100%;
        height: 66%;
        /*object-fit: cover;*/
        border-radius: 5px 5px 0 0;
    }
    .production_show_image{
      width: 100%;
      height: 33%;
      border-radius: 5px 5px 0 0;
    }
    .title {
        font-size: 150%;
        margin: 10px;
        color: #444;
    }
    .content {
        padding: 10px;
        color: #666;
    }
    .one_production{
      height: 350px;
      /*border: solid 1px black;*/
      margin-bottom: 10px;
    }
  .production_container{
    height:100%;
    border: solid 1px #EEEEEE;
    box-shadow: 2.5px 5px 5px rgba(0,0,0,0.25);
  }
