<div class="text-center">
  <h1>ユーザ情報編集</h1>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3">

    <%= form_for(@user) do |f| %>
    
    <%= render 'layouts/error_messages', model: f.object %>

      <div class="form-group">
        <%= f.label :nickname, '表示名' %>
        <%= f.text_field :nickname, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :email, 'メールアドレス' %>
        <%= f.email_field :email, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :password, 'パスワード' %>
        <%= f.password_field :password, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :password_confirmation, 'パスワード（再度入力してください）' %>
        <%= f.text_field :password_confirmation, class: 'form-control' %>
      </div>
      
      <div class="form-group">
        <%= f.label :realname, '名前' %>
        <%= f.text_field :realname, class: 'form-control' %>
      </div>
      
      <div class="form-group">
        <%= f.label :postalcode, '郵便番号' %>
        <%= f.text_field :postalcode, class: 'form-control' %>
      </div>
      
      <div class="form-group">
        <%= f.label :address, '住所' %>
        <%= f.text_field :address, class: 'form-control' %>
      </div>
      
      <div class="field form-group">
          <%= f.label :'プロフィール画像' %>
          <%= f.file_field :image, id: :image %>
      </div>

      <%= f.submit '変更を保存する', class: 'btn btn-primary btn-block' %>
      <!--<= link_to "変更を保存する", {:controller => "users", :action => "update"},{class: 'btn btn-warning btn-block'} %>-->
    <% end %>
  </div>
</div>