<div class="container">
  <aside class="col-md-4 col-xs-12">
    <div class="panel panel-default">
      
        <div class="panel-heading">
          <h3 class="panel-title text-center"><%= @user.nickname %></h3>
        </div>
      
      <div class="panel-body">
        <%= @user.image %>
      </div>
      <div class="panel-body">
        <%= link_to "登録情報の変更 ", :controller => "users", :action => "edit" %>
      </div>

    </div>
  </aside>
  <div class="col-md-8 col-xs-12">
    <!--<ul class="nav nav-tabs nav-justified">-->
      <p class="text-center">出品制作物一覧</p>

      <% @productions.each do |production| %>
    
      <div class="item">
        <div class="col-md-4 col-sm-4 col-xs-12 one_production">
          
          <%= link_to production do %>
            <div class="production_container">
              <%= image_tag(production.production_picture.to_s,:class => "image") if production.production_picture.present? %>
              <p class="title text-center"><%= production.production_title %></p>
              <p class="content text-center">
               <% if current_user == production.user %>
                <%= link_to "出品を中止する", production, method: :delete, data: { confirm: "You sure?" }, class: 'btn btn-danger' %>
              <% end %>
              </p>
            </div>
          <% end %>
          
        </div>
        
      </div>
    <% end %>

  </div>
</div>