<div class="col-md-12 col-sm-12 col-xs-12">
          <!--< if @production.status == true %>-->
          <!-- <h1>これはまだ購入できます</h1>-->
          <!--< else %>-->
          <!--  これはすでに購入されています-->
          <!--< end %>-->
          
          <div class="panel panel-default">
            
            <div class="panel-body">
              <p>商品タイトル</p>
              <p class="item-title production-title production-params"><%=  @production.production_title %></p>
            </div>
            <div class="panel-heading text-center">
              <p>商品画像</p>
              <!--<= production.production_picture %>-->
              <%= image_tag(@production.production_picture.to_s,:class => "production_show_image") if @production.production_picture.present? %>
              <!--<= image_tag(production.production_picture) %>-->
            </div>
            <div class="panel-body">
              <p>商品説明</p>
              <p class="production"><%=  @production.production_information %></p>
            </div>
            <div class="panel-body">
              <p>商品ジャンル</p>
              <p class="production"><%=  @production.production_genre %></p>
            </div>
            <div class="panel-body">
              <p>商品季節</p>
              <p class="production"><%=  @production.production_season %></p>
            </div>
          
          </div>
          
    <% if logged_in? %>
    
        <%= form_for(@production_comment, url:send_comment_path) do |f| %>
            <div class="form-group">
                <%= f.label :'コメント' %>
                <%= f.hidden_field :production_id, :value => params[:id] %>
        
               <% @display_comment.each do |comment| %>
                <div class="panel-body">
                <p class="production"><%= comment.user.nickname %>さん</p>
                <p class="production"><%= comment.content %></p>
                </div>
               <% end %>
        
               <% if @production.status == true %>
                  <%= f.text_area :content, class: 'form-control', rows: 3 %>
                  <%= f.submit 'コメントを投稿する', class: 'btn btn-primary btn-block' %>
                     <% if @production.user == current_user %>
                         <%= link_to "出品を中止する", @production, method: :delete, data: { confirm: "本当に削除してよろしいですか?" }, class: 'btn btn-block btn-danger' %>
                     <% end %>
               <% end %>
               
            </div>
    <% end %>
    
      <% if @production.status == true && @production.user.id != current_user.id %>
        <%= link_to "購入する", {:controller => "productions", :action => "buy"},{class: 'btn btn-warning btn-block'} %>
      <% end %>
  <% end %>
</div>
        
</div>