<div class="container">
  
     <% @productions.each do |production| %>
        <div class="col-md-3 col-sm-4 col-xs-12 one_production">
          
          <%= link_to production do %>
            <div class="production_container">
              <%= image_tag(production.production_picture.to_s,:class => "image") if production.production_picture.present? %>
              <p class="title text-center"><%= production.production_title %></p>
              <p class="content text-center"><%= production.production_information %></p>
            </div>
          <% end %>
        
        </div>
    <% end %>
  
</div>