<header>
  <!--<nav class="navbar navbar-inverse navbar-static-top">-->
  <nav class="navbar navbar-static-top navbar-custom">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">ほいっと！</a>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          
          
          
          <% if logged_in? %>
            <li><%= link_to '出品する', new_production_path %></li>
            <li><%= link_to 'マイページ', current_user %></li>
            <li><%= link_to 'ログアウト', logout_path, method: :delete %></li>
  
            
          <!--<li><a href="#">新規登録</a></li>-->
          <% else %>
            <li><%= link_to '新規登録', signup_path %></li>          
            <li><%= link_to 'ログイン', login_path %></li>
          <% end %>
          
          
        </ul>
      </div>
    </div>
  </nav>
</header>