<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Hekimen-Matching</title>
    
    <%= csrf_meta_tags %>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    
    <%= stylesheet_link_tag  'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>

  <body>
    
    <%= render 'layouts/navbar' %>
    
    <% if current_page?(root_path) %>
      <div class="row mainlogo">
        <div class="col-md-12"></div>
      </div>
    <% end %>
    
    <div class="container">
      
    <%= render 'layouts/flash_messages' %>

    <%= yield %>

    </div>
  </body>
</html>